.head{
  background-color: black;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(230, 227, 227);
  z-index: 100;
}
.pic{
  display: flex;
  align-items: center;
  height: 25px;
  width: 25px;
}